@model AdvancedEshop.Web.API.Models.Product

<h3>Product Details</h3>

@if (Model != null)
{
    <div>
        <h4>@Model.ProductName</h4>
        <p>Description: @Model.ProductDescription</p>
        <p>Category: @Model.Category?.CategoryName</p>
        <p>Price: $@Model.ProductPrice</p>
        <p>Discount: $@Model.ProductDiscount</p>
        <p>Photo: <img src="@Model.ProductPhoto" alt="Product Photo" style="max-width: 200px; max-height: 200px;" /></p>
        <p>Size: @Model.Size?.SizeName</p>
        <p>Color: @Model.Color?.ColorName</p>
        <p>Is Trendy: @Model.IsTrandy</p>
        <p>Is Arrived: @Model.IsArrived</p>
        <!-- Thêm các thông tin khác của sản phẩm -->
    </div>
}
else
{
    <p>Product not found.</p>
}
