@* @model List<AdvancedEshop.Web.API.Models.Product> *@
@model List<AdvancedEshop.Web.API.Models.ProductViewModel>

<h2>All Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Photo</th>
            <th>Size</th>
            <th>Color</th>
            <th>Is Trendy</th>
            <th>Is Arrived</th>
            <!-- Thêm các cột khác nếu cần -->
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.ProductDescription</td>
                @* <td>@product.CategoryId</td> *@
                <td>@product.CategoryName</td>
                <td>@product.ProductPrice</td>
                <td>@product.ProductDiscount</td>
                <td>
                    <img src="@product.ProductPhoto" alt="Product Photo" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>@product.SizeName</td>
                <td>@product.ColorName</td>
                <td>@product.IsTrandy</td>
                <td>@product.IsArrived</td>
                <td>
                    <form asp-controller="Admin" asp-action="ProductDetails" method="get">
                        <input type="hidden" name="id" value="@product.ProductId" />
                        <button type="submit">Details</button>
                    </form>
                </td>
                
                <td>
                    <form asp-controller="Admin" asp-action="EditProduct" method="get">
                        <input type="hidden" name="id" value="@product.ProductId" />
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteProduct" method="post" onsubmit="return confirm('Are you sure you want to delete this product?');">
                        <input type="hidden" name="id" value="@product.ProductId" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <!-- Thêm các trường dữ liệu khác nếu cần -->
            </tr>
        }
    
        <form asp-controller="Admin" asp-action="CreateProduct" method="get">
            <button type="submit">Create Product</button>
        </form>
    
    </tbody>
</table>
